.speech{
color: black;
font-size: 12px;
font-family: sans-serif;}

.hopper{
    color:purple;
}

.dumby{
    color: brown;
}

.duchessberwick{
    color: blue;
}

.parker{
    color: blue;
}

.stagedirection{
    background-color:lightgray;
    color: black;
    font-size: 12px;
    font-family: sans-serif;
}

.stagedirection:hover{
    background-color: cadetblue;
    color: gold;
}

table,td,th
{
    border: solid 1px;
    text-align: center;
    width: 25%;
    color: black;
    padding: 5px;
    margin: 20px;
}

tr:nth-child(even){
    background-color: burlywood;
}

.lordgoringnew:hover{
    text-shadow: 2px 3px 4px red;
}
.ladychilternnew:hover{
    text-shadow: 2px 3px 4px red;
}
.robertchilternnew:hover{
    text-shadow: 2px 3px 4px red;
}